.centralizar { 
  text-align: center; 
} 

img { 
  width: 100px; 
} 

hr { 
  background-color: blue; 
  height: 2px; 
} 

nav { 
  background-color: #f0f0f0; 
  text-align: center; 
  padding: 8px; 
  font-weight: bold; 
} 

.home {
  color: #213682;
  font-size: 17px;
}

.home:hover {
  color: #000000;
}
  

.azul { 
  background-color: #213682; 
  color: white; 
  margin: 80px auto; 
  width: 60%; 
  max-width: 600px;
  max-width: 600px;
  padding: 40px 30px; 
  text-align: center; 
  border-radius: 10px; 
} 

.amarelo { 
  display: block; 
  background-color: #CFA446; 
  color: white; 
  margin: 12px auto; 
  width: 320px; 
  padding: 12px 18px; 
  border-radius: 6px; 
  font-size: 18px;
  display: inline-block; 
  text-decoration: none;
}

.vermelho { 
  display: block; 
  background-color: #c50303; 
  color: white; 
  margin: 12px auto; 
  width: 320px; 
  padding: 12px 18px; 
  border-radius: 6px; 
  font-size: 18px;
  display: inline-block; 
  text-decoration: none;
}

.amarelo:hover {
  background-color: #b5893f;
}

.vermelho:hover{
  background-color: brown;
}

.footer { 
  background-color: #1E2C6B; 
  color: white; 
  text-align: center; 
  padding: 0px 0; 
  font-size: 14px; 
  position: fixed; 
  bottom: 0; 
  width: 100%; 
} 

body { 
  font-family: Arial, sans-serif; 
  background-color: white; 
  margin: 0; 
  padding: 0; 
  height: 100%;
} 

h1 { 
  font-size: 22px;
  padding-bottom: 30px; 
} 
